<!-- <div>
  <p>Inside Parent</p>
  
<h1>parent message is {{parentMessage}}</h1>

<app-child [childMessage]="parentMessage"></app-child>

</div>  -->





  <!-- class="custom-control-input" -->
  
  <div class="form-group row p-t-20">
    <div class="col-sm-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"  id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"  id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Check this custom checkbox</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox"  class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">Check this custom checkbox</label>
        </div>
    </div>
  
  
  
    <!-- child to parent -->
  <br>
  message : {{message}}
    <app-child></app-child>